h1{
    display: inline; 
    /* width: 100px;
    height: 100px; */
    color:darkslategrey;
    
}

nav{
    text-decoration: none;
    margin:20px;
    margin-right:10px;
}
.navbar a{
  margin-left:100px;
  font-family: monospace;
  padding:10px;
  text-decoration-style: double;
}
a{
  color:darkslategrey;
  font-family: monospace;
}
*{
    color:darkslategrey;
    background-color:ghostwhite;
    font-family: monospace;
}
