h1{
    display: inline; 
    /* width: 100px;
    height: 100px; */
    color:green;
}

nav{
    text-decoration: none;
    margin:20px;
    margin-right:10px;
}
.navbar a{
  margin-left:100px;
  font-family: monospace;
  padding:10px;
  text-decoration-style: double;
}
a{
  color:darkslategrey;
  font-family: monospace;
}
*{
    background-color: gainsboro;
}
.conv{
    float: left;
}
.conv p{
    float: left;
}
.marrio{
    float: right;
}
.marrio p {
    float:right;
}
.mille{
    float: left;
}
.serena{
    float: right;
}
.serenagi{
    float: left;
}
.bisate{
    float: right;
}
.muhabura{
    float: left;
}
.sunview{
    float: right;
}
.asante{
    float: left;
}
.palm{
    float: right;
}
.lapalme{
    float: left;
}
.virunga{
    float: right; 
}
.Belvedere{
    float: left;
}
.hillview{
    float: right;
}
.paradise{
    float: left;
}