body{
    border:2px solid cyan;
    color:lcyan;
    background-size:cover;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://2.bp.blogspot.com/-3iFT66D8l54/UOiHA-aqn2I/AAAAAAAAWrM/Hd125Ij9e8A/s1600/Rwanda.jpg');
}
h1{
    color:cyan;
}
/* .container{
    list-style-type: none;
    margin: 0;
    padding: 0;
  } */

a{
    color:cyan; 
}
h3{
    color:cyan;
}
p{
    color:cyan;
}
#myCarousel{
    border:2px solid cyan;
}