nav{
  text-decoration: none;
  margin:20px;
  margin-right:10px;
}
.navbar a{
margin-left:100px;
font-family: monospace;
padding:10px;
text-decoration-style: double;
}

a{
  color: rgb(170, 235, 186);
  font-family: monospace;
  font-size: 20px;
  justify-content: center;

}
h1{
  padding-top:10px; 
  color: rgb(170, 235, 186);
  text-align: center;
}
