nav{
  text-decoration: none;
  margin:20px;
  margin-right:10px;
}
.navbar a{
margin-left:100px;
font-family: monospace;
padding:10px;
text-decoration-style: double;
}

a{
  color: darkslategrey;
  font-family: monospace;
  font-size: 20px;
  padding:20px;
}
a :hover{
  background-color:lightgrey;
}
h1{
  padding-top:10px; 
  color: darkslategrey;
  text-align: center;
}
.category a{
  color:white;
}
