<body>
  <h1>Akagera National Park</h1>
  <h2>Kayonza</h2>
  <div class="well">
    <img src="images/balls5.jpg" width="100%" height="400">
    <div class="row">
      <div class="col-md-4">
        <p>Akagera is almost unrecognisable today compared to just 20 years ago when it was on the verge of being lost
          forever. While peace was finally restored in the 1990s after the 1994 Genocide against Tutsis, Akagera’s
          demise was
          just beginning. Refugees returning to Rwanda after the genocide were still battling for their own survival
          and
          turned to the forests for timber, wildlife for protein and the wild savannahs for their livestock. Lions were
          hunted to local extinction, rhinos disappeared, and the park’s wildlife was displaced by tens of thousands of
          long-horned cattle. Biodiversity was practically lost, and with it so was employment and tourism. The park’s
          value
          was diminished to the point of not existing at all. Which makes where Akagera is today, with its story of
          revival,
          even more remarkable.

          In 2010, African Parks assumed management of Akagera in partnership with the Rwanda Development Board (RDB),
          shifting the park's trajectory from one of oblivion to prosperity and hope. After years of preparation,
          through
          effective law enforcement and management, 2017 saw the historic return of 18 Eastern black rhinoceros after a
          10-year absence, thanks to the support from the Howard G. Buffett Foundation. Two new male lions were also
          translocated to Akagera in 2017 to enhance the genetic diversity of the growing pride, which has now tripled
          since
          their reintroduction in 2015. With poaching essentially halted, the park’s key wildlife populations have
          continued
          to rise. More than 44,000 tourists visited the park in 2018 alone, half of whom were Rwandan nationals,
          bringing in
          a record US$2 million in revenue and making the park 75% self-sustaining in just eight years..</p>
      </div>
      <p>Address and Telephone:Akagera Road, Akagera National Park,, Kayonza
        Phone:0786 182 871
      </p>

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWieIJI0Fm3NtElrnDq9ApLKVTqT-1lRNWXbQ0iS5jVRgKCtkk">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiHT538bp-cgelniwRl6kn0M5-ZcafgSB3jbdH5y6HFpNP4VnGtQ">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWieIJI0Fm3NtElrnDq9ApLKVTqT-1lRNWXbQ0iS5jVRgKCtkk">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4FCcZcwtRcPG5CWdEZPcJ7NbjmjfM_biRP2N8yf5gBUP9N0T-">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJKW9tbdj_2g73jTRdSeGSHaRGVyeHqacVZ-uMMiMrS5l8_DNu">

</body>