{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/index.css')}}">
{% endblock %}

<body>
  <div class="jumbotron text-center">
    <h1>Gisuma|</h1>
  </div>
  <div class="well">
    <img src="images/balls5.jpg" width="100%" height="400">
    <div class="row">
      <div class="col-md-4">

        <h2>Nyungwe</h2>
        <p>When you arrive in Nyungwe forest, you come here on the winding roads through the huge tea fields and then
          there
          is Nyungwe forest national park, like developing its massiveness like a national Geographic Video and only
          better
          since you are here in that large forest with its endless Kamiranzovu swamp, the trails through out, the
          forest
          canopy walk, which is the only one in East Africa, the chances for birding, the primate tracking and viewing
          and
          taking in the flowers like the orchids that are found here and the many butterflies that they attract.</p>
      </div>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6MB_2fR3ZuAEVhFMee3yPDAijvk044JFKUp2Tmx7VznEwFTk1VQ"
        width="550px">
      <div class="col-md-4">
        <p>Nyungwe is also not a compact park but large forest and the things to do and see here also take some
          planning as
          that your time on the safari is not wasted with drive times. You can also find over 300 different bird
          species,
          many butterflies, orchids, 75 mammal species including the 13 primates, and there have also been the
          sightings of
          the golden monkeys. Also the park is with its uncountable of the natural wonders and is not missed if you are
          coming to Rwanda and it will be one of those items to mountain gorilla tracking in Rwanda.</p>
      </div>
</body>