<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body > 

  {% block content%}
  <center><h2 style="background-color:grey;">WELCOME</h2>

   
 
      <blockquote class="text-center text-lg">
 <div class="container">
   
    
    <p>Already signed in? Write your comment <a href="/comment/new"><button>Comment</button></a>
                {% for comment in comments %} 
                <p>{{ comment.comments }}</p>
        <br>
      
     {% endfor %}
    </center>
  </div>
 {% endblock%}

</body>
</html>