<body>

  <h1>Nyanza Royal Palace</h1>

  <h2>Nyanza</h2>
  <p>Nyanza Royal Palace is an impressive and enormous domed structure created entirely with standard materials. This
    ancient Royal Palace of the Rwanda monarchy is situated within the town of Nyanza approximately 35km north from
    Butare inside the Southern Province with the nation. The palace sits on top of a hillock with commanding views. The
    palace is really a basic art-deco 1950s Italianate bungalow residence splashed in pale green. The interior is
    really sparse with some grand fire-places. The most interesting rooms are the sleeping quarters and inside of
    bathroom which must happen to be splendid regalia on this component from the continent in its glory days..</p>

  <p>Address and Telephone: Nyanza Rd
    Phone:0730 741 093</p>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPQIedcaxZXCYDhs2SkcyjLxTrGhJZHpjMfzoUpshw8ftNyup3">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd9yFmgEBp_NOMsaDaUtoMgvK7YM6pSNR8yTFU63DlvLegyy2jkA">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB3rOMd5_3usZEhJ127hU32a8EEzVykQLTlJkZDVvFGhLTmedl">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_lksAhEQG6C8rrOzuVK1IZ929aG23I4GxMg4dq_KbaBOgdM44kg">
</body>