{% extends 'bootstrap/base.html'%}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='CSS/index2.css')}}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <h1>Volcans National Park </h1>
</div>
<div class="well">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJF5b5Sst1Ybp5GiP3M8k1FhhT1S0RZH5lMb2YD7IT1071cefW3Q"
    width="100%" height="400">
  <div class="row">
    <div class="col-md-4">

      <h2>Kinigi</h2>
      <p>Ever since the 1988 Hollywood hit Gorillas in the Mist,
        primates in all their enthralling, furry glory have been
        one of the biggest draws for Rwandan travellers. The national
        parks housing gorillas here have significantly improved in recent times,
        now including more efficient road systems, an increased number of rangers and
        improved methods of wildlife conservation. Of the 880 gorillas thought to be left in the wild,
        an estimated 300 reside in Volcans National Park in the Virunga Mountains, a stunning stretch
        of green oozing with dramatic scenery and lush, verdant vegetation. Visitors will need to purchase a
        permit to gain entrance into the park, and although this sometimes can be quite expensive, it proves well
        worth
        it once you’re witnessing giant gorillas living in their natural terrain..</p>
    </div>
    <div class="col-md-4">
      <p>Address and Telephone:073080808</p>
    </div>
  </div>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL-lT66MKS9zWcCSfzQiA07zchCdYzITrcz6yBmyHljee2WjHUMQ"
    width="300px">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaH7rCsPyLM2oGPwWoocU0np8xDyko2oEePxUDrazJIqiltwvK"
    width="300px">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfYLJp7YMUD60sMYfakCTS43YUOBnd7Ea09mVSh92grs0akVsf4Q"
    width="300px">

  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZq_GRbYn7utZG6VW2O9V4cQ1hzPr7wK22nHxujGmgKYQCMLoieQ"
    width="300px">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4M-wbtC23rocGDFrm41Dl-bFKkvsF2qzeWBNpMxxS8be6jXHY"
    width="300px">



</div>
{% endblock %}